<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.synertone.netAssistant"
    android:versionCode="17"
    android:versionName="1.3.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取本地联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- 允许读取本地资源：手机号码 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许监听开关屏权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 屏幕保持唤醒不锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 云之讯权限开始 -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 云之讯权限结束 -->
    <application
        android:name="com.my51c.see51.common.AppData"
        android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:screenOrientation="sensor"
        tools:replace="android:icon,android:name">

        <!-- 注册安图的所有页面    后新增ui    启动页面改为登陆页面 -->
        <activity
            android:name="com.my51c.see51.app.LoginActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:replace="android:theme" />
        <!-- 修改奔迈启动界面 -->
        <activity
            android:name="com.my51c.see51.ui.MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Black.NoTitleBar">

            <!--
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.my51c.see51.BaseActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.PlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="standard"
            android:permission="android.permission.WRITE_EXTERNAL_STORAGE"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.my51c.see51.ui.FourPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="standard"
            android:permission="android.permission.WRITE_EXTERNAL_STORAGE"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.my51c.see51.guide.GuidSmartId"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.guide.GuidAddByWifi"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.LocalSettingActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.ActionAlarmActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.guide.Guide"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.my51c.see51.guide.Login"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.my51c.see51.guide.PlatformActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.guide.DeviceIdActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.my51c.see51.guide.GuideSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.my51c.see51.guide.DimensionActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.my51c.see51.ui.DeviceInfoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.RFDeviceInfoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.guide.GuidePrepareActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.guide.CustWifiDialog"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@style/WifiDialogStyle" />
        <activity
            android:name="com.my51c.see51.guide.GuideSmartWifi"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.guide.GuideSmartSound"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.SDRecordFolderActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.SDRecordFileActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.SDCalendarActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.CloudRecordActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.RfDeviceAddActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.AboutActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.BLPDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <PreferenceScreen
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:summary="@string/radio_controls_summary"
            android:title="@string/radio_controls_title"
            tools:ignore="ManifestResource">
            <intent
                android:action="android.intent.action.MAIN"
                android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
                android:targetClass="com.android.settings.WirelessSettings"
                android:targetPackage="com.android.settings" />
        </PreferenceScreen>

        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation" />
        <activity
            android:name="com.my51c.see51.ui.LocalFileAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.LocalPicVideoAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.LocalDevListAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.GeneralInfoAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.WiredSettingAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.WirelessSettingAcy"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.Net3GSettingAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.AVSettingAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.AlarmCloudRecordAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.PlayAcy"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BQGdC08VaF4m36RupEZMXgkjZyoHKmW1" />

        <activity
            android:name="com.my51c.see51.map.CameraLocation"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.SDRecordNVRActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- bm-add-1101 begain,and snt-modi-style-1205-lyj -->
        <activity
            android:name="com.my51c.see51.ui.PlanOfRecordActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.ui.NewPlanOfRecordActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- bm-add-1101 end, and snt-modi-style-1205-lyj -->


        <!-- 修改安图ui后的界面 -->
        <activity
            android:name="com.my51c.see51.app.HomeActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.NetSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.my51c.see51.app.OneKeyStarActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.my51c.see51.app.VODActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.TrunkChannelActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.TrunkServiceActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.SplashActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.my51c.see51.app.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.GaoJiAccountActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.ForgetPasswordActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.PassActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.AcContactsDetails"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.CallPersonActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.LocationActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.DeviceStatusActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.FirewallInfoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.SystemInfoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.StaticrouteInfoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.VideoMeet"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.VideoMonitorActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.SetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.VoipActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.PersonalActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.SuperSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.PhoneActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.ReviseActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.OneStartActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.LinkStateActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.PasswordModifiActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.SystemUpdateActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.SuperSetRefActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.my51c.see51.app.activity.DebbugControlActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.DebugControlAnotherActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.BWOverlayActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.RoutingActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.LanSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.WanSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.WifiSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.WebAutSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.BwSuperActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.NetWorkSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.NetWorkOptActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.BwSuperInteferActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.BwMenberActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.BwPlanActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.BwProjectActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.ResWifiActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.ResCommActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.QosBaseSetActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.IPSpeedActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.WhileListActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.routbw.BlackListActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <service android:name="com.my51c.see51.app.service.XTService" />

        <receiver android:name="com.my51c.see51.app.service.AlarmReceiver" />
        <!-- 云之讯开始 -->
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.my51c.see51.yzxvoip.YzxLogin2Activity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.yzxvoip.IMRegisterV2Activity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!--
             android:launchMode="singleTask"
            android:screenOrientation="portrait"
        -->
        <activity
            android:name="com.my51c.see51.yzxvoip.IMChatActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation" -->
        <activity
            android:name="com.my51c.see51.yzxvoip.DirectEntryActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.yzxvoip.AddressConfigActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation" -->
        <activity
            android:name="com.my51c.see51.yzxvoip.AudioConverseActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.yzxvoip.ConverseActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <service
            android:name="com.my51c.see51.yzxvoip.ConnectionService"
            android:launchMode="singleInstance" />
        <service android:name="com.yzxtcp.service.YzxIMCoreService" />
        <service android:name="com.my51c.see51.app.service.GpsService" />
        <service android:name="com.my51c.see51.app.service.ServiceUpdateUI" />

        <receiver android:name="com.yzxtcp.tools.tcp.receiver.AlarmReceiver" />
        <receiver android:name="com.yzxtcp.tools.tcp.receiver.MsgBackReceiver" />
        <receiver android:name="com.yzxtcp.tools.RtppReceiver" />

        <!-- 云之讯结束 -->
        <activity
            android:name="com.my51c.see51.app.locationHUO"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.ManualControlActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.CompassActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.WarnInfoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.TrunkActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.AggregatedLinksSettingsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.NetAdapterSettingActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.AggregateLinksAmendActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.ConfigChannelActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.AddConfigChannelActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.AddServiceActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.ConfigServiceActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.my51c.see51.app.activity.aggregation.NetAdapterStateActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name="com.my51c.see51.app.activity.aggregation.NetAdapterAmendActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
    </application>

</manifest>